<div class="container mt-4 pb-2 border-bottom">
  <%= @documents[0].user_directory.name %>

</div>

<% @documents.each do |document| %>
  <div class="container px-0">
    <div class="row  border-bottom mt-2 pt-1 pb-0">
      <div class="col-8 pl-4 mt-4">
        <p><%= link_to document.title, document %></p>
      </div>

      <div class="col-4 text-center mt-4 px-0">
        <div class>作成者:<%= document.writer.name %>　更新日:<%= document.updated_at.strftime('%Y年%m月%d日') %></div>
      </div>
    </div>
  </div>
<% end %>
