<div class="container create_document_container">
  <div class="row border-bottom mt-5">
    <h2>
      <i class="fas fa-pen-nib sub_title"></i>
      ドキュメント編集
    </h2>
  </div>
  <%= render partial: 'form', locals: { document: @document } %>
</div>
<%= javascript_pack_tag 'documents/real_time_preview.js' %>
<%= javascript_pack_tag 'documents/fileupload.js' %>
