<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render partial: "layouts/sidebar" %>
    </div>
  </div>
  <div class="row">
    <div class="col-8"></div>
  </div>
</div>
