@import '~bootstrap/scss/bootstrap';

ul {
  list-style: none;
}

// ディレクトリ部分スタイル
.link_color {
  text-decoration: none;
  border: none;
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}

.directory {
  margin-bottom: 0;
  padding-left: 0;
  background: rgb(148, 144, 144);
}

.item {
  cursor: pointer;
  display: block;
  position: relative;

  &__link {
    display: block;
    padding: 1rem;
  }
}

.area {
  display: none;
}
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

html {
  height: 100%;
  body {
    height: 100%;
    .documents_sidebar {
      font-size: 0.8rem;
      .fa-pen-nib {
        font-size: 2.5rem;
      }
      .fa-book {
        font-size: 2.5rem;
      }
    }
  }
}
