<div class="container create_document_container">
  <div class="row border-bottom mt-5">
    <h2>
      <i class="fas fa-cog sub_title"></i>
      コミュニティー管理
    </h2>
  </div>
  <%= render partial: 'form', locals: { community: @community } %>
</div>
