<div class="documents_sidebar bg-primary text-center">
  <div class="pt-4">
    <%= link_to new_document_path, class: "text-decoration-none text-white" do %>
    <i class="fas fa-pen-nib pb-1"></i><br>
    ドキュメント作成<br>
    <% end %>
  </div>
  <div class="pt-4">
    <%= link_to documents_path, class: "text-decoration-none text-white" do %>
    <i class="fas fa-book pb-1"></i><br>
    ドキュメント一覧<br>
    <% end %>
  </div>
  <div class="accordion-inner">
    <div class="accordion-box-side row">
      <button class="btn-menu bg-primary accordion-side" ><i class="fas fa-ellipsis-h fa-4x pl-2" style="color: white;" ></i></button>
      <div class="accordion-content-side">
        <button type="botton" class="btn btn-outline-dark btn-lg">
          <%= link_to 'ログアウト', destroy_user_session_path, class: text_color, method: :delete %>
        </button>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'sidebar' %>
