<div class="documents_sidebar bg-primary text-center">
  <div class="pt-4">
    <%= link_to new_document_path, class: "text-decoration-none text-white" do %>
    <i class="fas fa-pen-nib pb-1"></i><br>
    ドキュメント作成<br>
    <% end %>
  </div>
  <div class="pt-4">
    <%= link_to documents_path, class: "text-decoration-none text-white" do %>
    <i class="fas fa-book pb-1"></i><br>
    ドキュメント一覧<br>
    <% end %>
  </div>
</div>