<% flash.each do |flash_type, msg| %>
  <div class="flash alert alert-<%= flash_type || "primary" %>" style="margin-bottom: 0;" role="alert">
    <%= msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<%= javascript_pack_tag 'flash' %>