<%# 1階層 %>
<ul class="directory">
  <li class="item">
    <% user_directories.each do |key, value| %>
      <%= link_to key.name, documents_path, class: "link_color item__link js-directory__item__link" %>
        <%# 2階層目 %>
        <ul class="directory_children area">
            <li class="item">
              <%= link_to value.name, documents_path, class: "link_color item__link js-directory__item__link" %>
            </li>
        </ul>
    <% end %>
  </li>
</ul>
